.about-section-title {
}
.about-section-title p {
    color: #4c4c4c;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-transform: uppercase;
}
.about-section-title p span {
    color: #095b9a;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.about-skum-area{
	width: 100%;
	margin: 0 auto;
	min-height: 580px;
	margin-top: 50px;
}
p{
	color: #4c4c4c;
	text-align: justify;
}

@media(max-width: 768px){
	.about-section-title p {
		font-size: 24px;
		text-align: left;
	}
	.about-section-title p span{
		font-size: 24px;
	}

}