
.activities-title{
    text-align: center;
    /*padding: 25px;*/
}
.activities-title p{
    color: #095b9a;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.activities-title p span{
    color: #4c4c4c;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-transform: uppercase;
}


/*===============================
    IMAGE Hover effect
================================*/

figure.snip0028 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  background: #000;
}
figure.snip0028 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0028 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0028 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0028 figcaption > div {
  background-color: #000;
  position: absolute;
  width: 100%;
  bottom: 28px;
  left: 100%;
  padding: 7px 10px;
  border-radius: 0 0 0 5px;
  -webkit-transition: left 0.35s;
  transition: left 0.35s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0028 figcaption > div i {
  font-size: 23px;
  padding: 6px;
  color: #000000;
  opacity: 0.6;
  position: relative;
  right: -150px;
  -webkit-transition: right 0.35s, opacity 0.35s;
  transition: right 0.35s, opacity 0.35s;
}
figure.snip0028 figcaption > div a {
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.3s;
}
figure.snip0028 figcaption > div a:hover {
  opacity: 1;
}
figure.snip0028 figcaption::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  /*background-image: linear-gradient(to top, #000000 0%, transparent 50%, #000000 100%);*/
}
figure.snip0028 h2 {
  border-radius: 0 5px 0 0;
  text-align: center;
    margin: 0;
    padding: 20px;
    position: absolute;
    font-size: 1em;
    bottom: 20%;
    right: 100%;
    width: 100%;
    word-spacing: -0.1em;
    font-weight: 300;
    text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: rgb(9, 91, 154);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: ghostwhite;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: 0px 0px 1px #000;
}
figure.snip0028 h2 span {
  font-weight: 800;
}
figure.snip0028:hover img,
figure.snip0028.hover img {
  opacity: 0.5;
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}
figure.snip0028:hover figcaption > div,
figure.snip0028.hover figcaption > div {
  left: 35%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

}
figure.snip0028:hover figcaption h2,
figure.snip0028.hover figcaption h2 {
  right: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0028:hover figcaption::before,
figure.snip0028.hover figcaption::before {
  opacity: 0.8;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0028:hover figcaption i,
figure.snip0028.hover figcaption i {
  right: 0px;
}
figure.snip0028:hover a:first-child i,
figure.snip0028.hover a:first-child i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0028:hover a:nth-child(2) i,
figure.snip0028.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0028:hover a:nth-child(3) i,
figure.snip0028.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}


.modal
{
    width: 70% !important;
    height: 90% !important;
    top:5% !important;
}
.modal-content{
  position: relative !important;
}
.modal .indicators{
  top:0 !important;
}
.activity-img{
  overflow: hidden;
  cursor: pointer;
}

.modal-header a.modal-action {
    background: rgba(0, 0, 0,0.5);
    padding: 10px !important;
    line-height: 20px;
    padding-top: 4px !important;
}

.modal-header a.modal-action i {
    font-size: 20px;
    line-height: 20px !important;
}