/* page specific stylesheet */
.Team-title{
	text-align: center;
	padding: 25px;
}
.Team-title p{
    color: #095b9a;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-transform: uppercase;
}
.Team-title p span{
	color:#4c4c4c;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
ul.tabs {
    background: #095b9a;
}
.tabs .tab a{
	color: rgba(255, 255, 255, 0.7);
}
.tabs .tab a:hover, .tabs .tab a.active{
	color: ghostwhite;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.38);
    will-change: left, right;
}
div#Trustee {
    border: 1px solid rgba(9, 91, 154, 0.32);
    background: rgba(9, 91, 154, 0.12);
}
div#Academic {
    border: 1px solid rgba(9, 91, 154, 0.32);
    background: rgba(9, 91, 154, 0.12);
}


@media(max-width: 798px){
	div#Trustee {
		padding: 0px;
	}
	div#Academic {
		padding: 0px;
	}
	.pillar-card.card-panel {
        margin: 10px 0px !important;
        padding: 10px 10px !important;
        min-height: 280px;
    }
    .section-container{
    	width: 100%;
    }
    .Team-title p{
        margin-top: 15px;
    }
}