
#mainSlider{
    max-height: 500px;
}


.grey-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /*background: rgba(0,0,0,0.65);*/
}



.slider-content {
        position: absolute;
    background: transparent;
    z-index: 100;
    bottom: 300px;
    width: 100%;
}

.slider-title {
  color: #ec696b;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.slider-description {
        color: #fff;
    font-weight: 100;
    word-spacing: 3px;
    font-size: 17px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.about-school-section {
    padding: 80px;
    padding-right: 10px;
    padding-top: 50px;
}

.about-school-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#4c4c4c;
}
.about-school-title span{
	color:#095b9a;
}

.about-school-content p {
    color: #4c4c4c;
    text-align: justify;
}
.about-school-section {
    padding-bottom: 0px !important;
}
.about-school-container {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.full-width-container.event-container {
    background: #333333;
}

.event-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event-container .card-panel {
    padding: 0px;
    overflow: hidden;
    min-height: 170px;
}

.event-image {
    width: 50%;
    overflow: hidden;
    height: 250px;
}

.event-image img {
    height: 250px;
}


.event-date {
    position: absolute;
    background: #095b9a;
    width: 50px;
}

.event-day {
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 24px;
    margin-top: 5px;
    /* font-weight: 500; */
}

.event-month {
    text-align: center;
    color: #e6e6e6;
    background: rgba(0,0,0,0.2);
    font-size: 12px;
}
.event-image {
    float: left;
}

.event-description {
    float: left;
    width: 50%;
    padding: 10px;
}
.event-title-text {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.event-location {
    font-size: 16px;
}

.event-location i {
    font-size: 13px;
}

.event-time {
    font-size: 16px;
}

.event-time i {
    font-size: 13px;
}
.event-content {
    margin-top: 20px;
    color: #696969;
    font-size: 13px;
    text-align: justify;
}

/*====================================
    Services Area Start Here
====================================*/
div#facilitySlider
{
    height: 200px !important;
}
.foo img:last-child{display:none}
.foo:hover img:first-child{display:none}
.foo:hover img:last-child
{
    display:inline-block;
}

/*====================================
    Services Area Over Here
====================================*/


.full-width-container.service-container {
    background: #095b9a;
}

.full-width-container.news-container {
    background: #095b9a;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.news{
    background: none !important;
    box-shadow: none;
}

.service-title {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 25px;
}
.service-title span{

}

.service-icon-container {
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.service-title-text {
    text-align: center;
    color: #fff;
}

.service-container .card-panel {
    background: transparent;
    box-shadow: none;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    padding: 15px !important;
}
.service-container .card-panel:hover {
    background: #fff;
    box-shadow: initial;
    cursor: pointer;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.service-container .card-panel:hover .service-icon-container{
	color:#ec696b;
}

.service-container .card-panel:hover .service-title-text{
    color: #095b9a;
    font-weight: 500;
}
/*
.service-container {
    margin-bottom: 0px;
}
.event-container{
	margin-top: 0px;
}
*/

.testimonial-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: -50px;
    font-weight: 600;
    color: #095b9a;
}

.testimonial-title span {
    color: #4c4c4c;
    font-weight: bold;
}

.testimonial-container .card-panel {
    background: transparent;
    box-shadow: none;
}

.testimonial-text {
    text-align: center;
}

.testimonial-name {
    text-align: center;
    margin-top: 25px;
}

.testimonial-name {
    color: #095b9a;;
    text-transform: uppercase;
}

.testimonial-name span {
    color: #4c4c4c;
    font-weight: bold;
}

.testimonial-container {
    padding-bottom: 0px;
    margin-bottom: -30px;
}

.event-container {
    margin-bottom: 0px;
}

.about-image {
    margin-top: 60px;
}

.about-image img {
    width: 100%;
    border: 2px solid rgba(9, 91, 154, 0.20);
}
.carousel-item{
    width:100% !important;
}
#facilitySlider .carousel-item{
    width:100%;
}
i#facilitySliderRight {
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    top: 30%;
    z-index: 100;
}

i#facilitySliderLeft {
    position: absolute;
    left: 30px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    top: 30%;
    z-index: 100;
}

#facilitySlider ul.indicators {
    bottom: -30px;
}

#testimonialSlider{
  height: 600px;
/*height: -webkit-fill-available;*/
}

#mainSlider .indicators{
    display: none;
}

.inquiry-section {
    position: absolute;
    left: 0;
    bottom: -135px;
    width: 100%;
    background: #095b9a;
}

.section-trigger {
    color: #fff;
    padding-top: 9px;
    cursor: pointer;
}

.inquiry-section .section-title {
    color: #fff !important;
    margin-top: 0px;
    margin-bottom: 10px;
}

.enquiry-form .input-text {
    border: 1px solid #fff !important;
    padding: 2px 10px !important;
    color: #fff;
    width: calc(100% - 20px) !important;
}

.input-text::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.input-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #fff;
   opacity:  1;
}
.input-text::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.input-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.input-text::-ms-input-placeholder { /* Microsoft Edge */
   color:   #fff;
}

.inquiry-col {
    float: left;
    width: calc(22% - 10px);
    margin: 0px 5px;
}

.inquiry-col.submit {
    width: calc(12% - 10px) !important;
}


.inquiry-col.submit a {
    background: #fff !important;
    width: 100%;
    color: #095b9a;
    height: 50px;
    line-height: 50px;
}

.inquiry-col.submit a:hover{
    border:2px solid #fff;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #095b9a;
    -webkit-box-shadow: 0 1px 0 0 #095b9a;
    box-shadow: 0 1px 0 0 #095b9a;
}