body{
	background-color: #efefef;
}
/*====== navigation area ======*/
nav{
	background-color: #095b9a;
}
nav .button-collapse{
	display: block !important;
}
.side-nav
{
	background-color: #095b9a;
}
.side-nav li>a{
	color: #fff;
}
/*=============/ Over navigation /==========*/

.main-content-area-login {
    padding: 25px;
    width: 31%;
    margin: 0 auto;
}

.skum-logo-area {
    width: 100%;
}
.skum-logo-area {
 text-align: center;
}
.skum-logo-area img {
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.languages-btns-area{
	text-align: center;
}
.languages-btns-area p{
	color: #666;
}


.language-item.selected {
    background: #095b9a;
    color: #fff;
}
.language-item.last {
    border-radius: 0px 5px 5px 0px;
}
.language-item.first {
    border-radius: 5px 0px 0px 5px;
}
.language-item {
    width: 33.33%;
    float: left;
    border: 1px solid #095b9a;
    padding: 8px;
    background: #efefef;
    color: #095b9a;
}
.language-item:hover{
	background: #095b9a;
    color: #fff;
}
.lng-btn{
	background: #095b9a;
	border: 1px solid #095b9a;
	line-height: 2;
	text-transform: capitalize;
	width: 100%;
}
.lng-btn:hover,.lng-btn:active,.lng-btn:focus, .lng-btn.active-lng{
	background: #efefef;
	font-weight: 500;
	border: 1px solid #095b9a;
	color: #095b9a;
	line-height: 2;
	text-transform: capitalize;
}
/*.active-lng{
	background: #efefef;
	font-weight: 500;
	border: 2px solid #095b9a;
	color: #095b9a;
	line-height: 2;
	text-transform: capitalize;
}
*/.login-form-area a{
	color: #095b9a;
}

.login-form-area {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(165, 165, 165, 0.55);
}
.login-form-area input {
    margin-bottom: 0px !important;
}.language-select {
    overflow: hidden;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #095b9a;
    -webkit-box-shadow: 0 1px 0 0 #095b9a;
    box-shadow: 0 1px 0 0 #095b9a;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
	color: #095b9a;
    font-weight: 500;
}
/*========= Footer Area =================*/

.page-footer{
	position: absolute;
	margin-bottom: 0 !important;
	width: 100%;
	bottom: 0;
	padding-top: 0px;
	background-color: #095b9a;
} 
.page-footer a{
	color: #c9dae7;
}
.page-footer a:hover{
	color: #fff;
}




/*========== Mobile Responsive area =============*/
@media(max-width: 768px){
	.main-content-area-login{
		width: 100%;
	}
	.footer-copyright span{
		float: left !important;
	}
}