/* global style sheet */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff !important;
  }
a#logo-container {
    height: 100%;
}

.myHeader{
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .195s ease-in;
  transition: -webkit-transform .195s ease-in;
  transition: transform .195s ease-in;
  transition: transform .195s ease-in, -webkit-transform .195s ease-in;
  animation:slide-up 0.1s;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(0%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

.myHeader-fixed{
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-transform .195s ease-in;
  transition: -webkit-transform .195s ease-in;
  transition: transform .195s ease-in;
  transition: transform .195s ease-in, -webkit-transform .195s ease-in;
  animation:slide-down 0.7s;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

.side-nav{
    background: #095b9a;
}

.main-logo{

}
.brand-logo img {
    width: 100%;
    max-width: 120px;
    margin-top: 5px;
}
.side-nav{
    width: 70% !important;
}
.nav-top{margin-top: 100px;}
@media(max-width: 768px){
    .nav-top{
        margin-top: 0px;
    }
}
nav .nav-wrapper{
    
}
nav {
    top: 0px;
    left: 0px;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 4.6rem !important;
    line-height: 69px !important;
    background: #095b9a;
}
.transparent-nav{
    background: #095b9a;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
nav.nav-bar ul a{
    color: #2f3293;
}
nav.transparent-nav ul a{
    color: #393cad;
}
/*nav.transparent-nav ul a:hover{
    color:#fff;
    background: transparent !important;
}*/

nav.nav-bar ul a:hover {
    color: #fff;
    background: #2f3293;
}

nav .button-collapse{
    color: ghostwhite;
}
/*Dropdown*/
.dropdown-about{
    width: auto !important;
    position: absolute !important;
    top: 69px !important;
    border-bottom: 2px solid #095b9a;
}
.dropdown-about li:hover{
    background:#095b9a; 
}


.card-panel{
   /* min-height: 450px;*/
}
.btn{ background: #095b9a !important; border: 2px solid #095b9a; }
.btn:hover{
    opacity: 0.7 !important;
    background: #fff !important;
    color: #095b9a;
    font-weight: 700;
    border: 2px solid #095b9a;
}
.map{
     border:0;width: 100%;height: 100%;min-height: 500px;
}

/********************************
        Form Validation
*********************************/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{

    border-bottom: 1px solid #095b9a ;
    -webkit-box-shadow: 0 1px 0 0 #095b9a;
    box-shadow: 0 1px 0 0 #095b9a ;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
    color: #095b9a;
    font-weight: 500;
}
/**========================
    Content Title
==========================*/

.c-title{
    text-align: center;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 25px;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
}
.c-paragraph{
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.abt-box{
    padding: 25px;
    text-align: center;
}
.abt-box h4{
    font-size: 22px;
    padding: 10px 0px;
}

/*==============================
    About us Page
===============================*/

.card-panel.row.about-card.content-area {
    margin-top: -10px;
}
.about_area.about-section
{
    background: transparent !important;
    width: 70%;
    margin: auto;
    padding: 10px 0px;
}
@media(max-width: 768px){
    .about_area.about-section
    {
        width: 100% !important;
    }
}
.about_area.about-section h5
{
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
    padding: 10px;
    width: 100%;
    background: rgb(236, 107, 109);
    color: #fff
}


/**============================
        Padding Property
=============================*/
.pad-20{
    padding: 20px 0px;
}


/**=============================
        Offer Page
===============================*/
.offering-image{
    width: 120px;
    background-color: #000;
    border-radius: 100%;
}

.offer-box{
    padding: 25px 0px;
    text-align: center;
}

.offer-box h4{
    font-size: 14px;
    padding: 10px 0px;
}

.offer-card-panel{
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: transparent;
}


/**==========================
        Team page Start
============================*/
.team-content-box p{text-align: justify;}
/*.team-content-box{
    padding: 10px !important;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team-content-box:hover{
box-shadow: inset 0px 1px 20px #ddd;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
*/
.img-box{
    max-width: 300px !important;
}
/**=============================
        Footer Start
===============================*/

footer.page-footer {
    background: #393cad;
    position: relative;
}
.footer-text{
    color: #000;
}
.footer-link a{
    color: rgba(255,255,255,0.9);
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.footer-link a:hover{
    color: #ddd;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
    margin-left: 5px;
}
a.footer-link-right.right {
    font-size: 13px;
    margin: 0px 10px;
    color: #a0a0a0;
    /* text-transform: uppercase; */
}

a.footer-link-right:hover {
    color: #fff;
}
a.copyright-site-link {
    color: #fff;
}

.footer-copyright .container span {
    color: #ababab;
}

.footer-title {
    text-transform: uppercase;
    font-size: 18px;
}

i.social-connect {
    font-size: 35px !important;
    margin: 0px 10px;
    color: #7d7d7d;
}

i.social-connect.connect-facebook:hover {
    color: #3b5998;
}

i.social-connect.connect-linkedin:hover {
    color: #283e4a;
}

.partner-logo .card-panel {
    max-width: 200px;
    height: 200px;
    padding: 10px !important;
}

.partner-logo .card-panel img {
    width: 100%;
}

.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #2f3293 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.section-title.grey-text.text-darken-4.flow-text{
    color: #EC696B !important;
}
.parallax-container{
    height: auto;
    background: rgba(0,0,0,0.7);
    padding-bottom: 50px;
    margin-top: 50px;
}

.card-panel.right {
    margin-right: 20px;
}

.card-panel.left {
    margin-left: 20px;
}
.col-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #757575;
}

.card-panel.black {
    color: #fff;
    margin-bottom: 30px;
}

.card-title {
    text-align: center;
    font-size: 54px;
    text-transform: uppercase;
    color: #ccc;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover .card-title{
    color: #feec00;
}

.card-content {
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.card-panel.black {
    height: 180px;
}


.background-image {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background-image img {
    height: 180px;
    /* border-radius: 0px; */
}

.card-panel.black {
    position: relative;
    overflow: hidden;
}

.card-panel.black {
    background: rgba(0,0,0,0.9) !important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover {
    background: rgba(0,0,0,0.8) !important;
    cursor: pointer;
}
img.full-width {
    width: 100%;
    height: auto !important;
}
ul#nav-mobile {
    /*z-index: 100;*/
    z-index: -1;
    top: 64px;
}
#sidenav-overlay{
    z-index: 0 !important;
}

ul#nav-mobile li a {
    color: #fff;
    /*border-bottom: 1px solid #dcdcdc;*/
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.mobile-dropdown-area {
    background: #07497b;
}
ul.mobile-dropdown-area li a {
    margin-left: 15px !important;
}
ul.mobile-dropdown-area li:hover{
    margin-left: 15px !important;
}

/*nav.transparent-nav ul a:hover {
    color: #000;
    background:linear-gradient(rgb(236, 107, 109),rgba(200,200,200,0)) !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/

.dropdown-content li a {
    background: #fff !important;
    color: #5a5a5a !important;
    border-bottom:1px solid rgba(9, 91, 154, 0.25);
}



/**==================================
        About Page
===================================**/
.about-section p{
    font-size: 16px;
    text-align: justify;
}
.h5{
    font-size: 1rem;
    font-weight: 500;
    color: #2f3293;
}

/**==================================
        The Begining Page
===================================**/
p.b-title{
    text-align: center;
    margin: 20px 0px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

/**==================================
        The Begining Page
===================================**/
.li li{
    color: #2f3293;
}

/**==================================
        Footer Site Map
===================================**/
marquee{
    max-height: 150px;
    margin-top: 10px;
    padding: 25px !important;
    margin-bottom: 10px;
}
@media(max-width: 768px){
    marquee{
    max-height: 250px !important;
    }
}
marquee p{
    color: #eee;
    font-weight:300;
    text-align: center !important;
}


.ftr-sitemap{
    line-height: 5rem;
    background: #2f3194;
}
.ftr-sitemap a{
    color: #ddd !important;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.ftr-sitemap a:hover{
    color: #fff !important;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

/**================================================================================================
             Mobile Responsive Media queries
===================================================================================================*/
@media only screen and (max-width: 992px){
    .nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center !important;
    }
} 



/* home page */
.section-content p {
    color: #5a5a5a;
    font-size: 16px;
}

.home-cards .card-panel .section-content {
    display: none;
}

.home-cards .card-panel {
    min-height: 135px;
    position: relative;
}

.home-cards .card-panel .section-title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.card-panel:hover .section-content {
    display: block;
}

.home-cards .card-panel:hover .section-content {
    display: block;
}
.home-cards .card-panel:hover{
    background: #2f3293;
}

.home-cards .card-panel:hover .section-content p{
    color:#fff;
}
.home-cards .card-panel:hover .section-title{
    display: none;
}
.section-container.home-cards {
    min-height: 200px;
}

.full-width-container.service-container
{
    padding-bottom: 50px;
}
.full-width-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0px;
    /*padding-bottom: 50px;*/
}

.footer-background-image {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

footer.page-footer{
    background: rgba(0,0,0,0.9);
    position: relative;
    overflow: hidden;
}

.ftr-sitemap.row {
    background: rgba(0,0,0,0.5);
}

/*nav.nav-bar {
    background: transparent;
}*/

nav.nav-bar ul a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.opaque-grey ul a{
   /* line-height: 8rem;*/

}
nav.opaque-grey{
    background:#095b9a;
    position: fixed;
}
/*nav{
    height: auto !important;
}*/
nav.opaque-grey ul a{
    /*line-height: 6rem !important;*/
}
nav.opaque-grey .brand-logo img{
    width: 90%;
}
nav .brand-logo img{
    width: 90%;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav ul a:hover{
    background:rgba(0,0,0,0.1) !important;
    /*color:#ec696b !important;*/
    color: #fff !important;
}
.activeMenu
{
    background:rgba(0,0,0,0.1) !important;
    color: #fff !important;
}
nav.transparent-nav ul a:hover{
    background: rgba(0,0,0,0.1);
    color:#fff !important;
}


.section-sub-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#4c4c4c;
}
.section-sub-title span{
    color:#ec696b;
}
.section-container {
    width: 90%;
    display: block;
    margin: 0 auto;
}
table,td,th{
    border: 1px !important;
    vertical-align:top;
}

.pillars-des {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    margin-top: 10px;
    /* letter-spacing: 1px; */
}

.pillars-name {
    text-align: center;
    font-size: 14px;
    color: #6f6f6f;
}

.pillars-img img {
    display: block;
    margin: 0 auto;
}       

.pillars-img img {
    width: 100%;
    max-width: 150px;
}

.pillar-card.card-panel {
    margin: 25px;
    background: #fff;
    border: 2px solid #cecece;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
/*    background: #f5f5f5;*/

}
.pillar-card.card-panel:hover{
    /*background: linear-gradient( rgba(47, 49, 147, 0.7),rgba(236, 107, 109, 0.7));*/
    border:2px solid rgba(9, 91, 154, 0.60);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    color: #fff;
/*    background: #f5f5f5;*/
}



 /**********************
    Mission Eklavya
 **********************/  
.row.eklavya-bg{
     margin-left: 0px;
    margin-right: 0px;
    background: #49432B;
    margin-bottom: 0px;
}

img.responsive-img.right.eklavya-img {
    width: auto;
    height: 700px !important;
    right: 0px;
    margin-right: -10px;
    margin-bottom: -20px;
}
.eklavya-bg li{
    color: #E0E0E0;
}
.eklavya-bg h4
{
    color: ghostwhite;
    font-weight: 300;
}

.activity-img img{ 
    display: block;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}
.activity-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    margin-bottom: 10px;
    color: #ec696b;
    position: absolute;
    top:50%;    
    left: 50%;
}
.modal {
    overflow: scroll !important;
    max-height: 100% !important;
    border: 3px solid #ec696b;
    border-radius: 10px;
}
.modal-header {
    text-align: right;
    padding: 0px !important;
    position: absolute;
    right: 10px;
    top: 5px;

}
.modal .modal-close {
    cursor: pointer;
    font-size: 35px;
    color: #aaa; 
    z-index: 200;      
}
.modal .modal-content {
     padding:0px !important; 
}
.slider .indicators .indicator-item.active {
    background-color: #ec696b;
}

/**********************
    Footer
***********************/
.page-footer{
    padding-top: 0px !important;
}

.row_bottom{
    margin-bottom: 0px;
}
.news_title{    margin-top: 25px !important;
    margin-bottom: 25px !important;}
marquee {
    height: 115px;
}

/*.grey-overlay {
    background: rgba(0,0,0,.5);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
 }
*/
.activity-card.card-panel {
    margin:5px;
    background: #f5f5f5;
    position: relative;
    padding: 0px;
    height: auto;
    min-height: auto;
}
.btn-flat i {
    font-size: 2.3rem;
    color: #fff;}
.btn-flat{padding: 0px !important}


.ftr-area{
    margin-bottom: 0px;padding: 10px;color: #b3b3b3;text-align: center;
    font-weight: 300;
}

.socials-links a{
    color: #bebebe;
    margin: 7px;

}
#addStudentModal{top:4% !important;}
#editStudentModal{top:4% !important;}